<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Covid19 India RDBMS</title>
  <meta name="description" content="Covid-19 Dashboard India">
  <meta name="author" content="navneel-piyush-sarthak">
  <link rel="stylesheet" href="{{css}}/main.css">
  <link rel="stylesheet" href="{{css}}/admin.css">

  <!-- Using chart.js CDN right now, will eventually use a local copy -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" defer></script>

  <script src="{{js}}/admin.js" defer></script>
</head>

<body>
  <h2 class="title">Admin Panel</h2>
  <nav>
    <a href="/dashboard">Dashboard</a>
    <a href="/states">State-wise</a>
    <a href="/districts">District-wise</a>
    <a href="/auth" class="current-page">Admin Panel</a>
  </nav>

  <div id="tabs">
	<input type="radio" name="tab" id="update-tab-radio" value="update" checked/>
	<label for="update-tab-radio">Update Data</label>

<!-- 	<input type="radio" name="tab" id="transfer-tab-radio" value="transfer" disabled/> -->
<!-- 	<label for="transfer-tab-radio">Transfer Cases</label> -->

	<input type="radio" name="tab" id="management-tab-radio" value="management"/>
	<label for="management-tab-radio">Management</label>
  </div>
  
  <p><b>Note</b> any changes made in the database will not be reflected in
  *most* of the queries <i>until</i> you refresh the database with the new
  changes. Refreshing database triggers re-build (refresh) of all
  materialized views to reflect the latest changes<p>

  <div id="update-tab">
	<h3>Update cases</h3>
	<table id="update-cases" class="mini-table">
	  <tr>
		<td>State name </td>
		<td colspan=3><select name="state"></select></td>
	  </tr>
	  <tr>
		<td>District name</td>
		<td colspan=3><input name="district" type="text"/></td>
	  </tr>
	  <tr>
		<td>Date</td>
		<td colspan=3><input name="date" type="date"/></td>
	  </tr>
	  <tr>
		<td>Attribute</td>
		<td>State value</td>
		<td>District value</td>
		<td>Update (delta)</td>
	  </tr>
	  <tr name="Confirmed Cases">
		<td>Confirmed Cases</td>
		<td></td>
		<td></td>
		<td><input type="number" name="Confirmed Cases"/></td>
	  </tr>
	  <tr name="Recovered Cases">
		<td>Recovered Cases</td>
		<td></td>
		<td></td>
		<td><input type="number" name="Recovered Cases"/></td>
	  </tr>
	  <tr name="Deceased Cases">
		<td>Deceased Cases</td>
		<td></td>
		<td></td>
		<td><input type="number" name="Deceased Cases"/></td>
	  </tr>
	  <tr name="Tested">
		<td>Tested</td>
		<td></td>
		<td></td>
		<td><input type="number" name="Tested"/></td>
	  </tr>
	  <tr>
		<td colspan="4">
		  <button>Update</button>
		</td>
	  </tr>
	</table>

	<h3>Update vaccinations</h3>
	<table id="update-vaccinations" class="mini-table">
	  <tr>
		<td>State name </td>
		<td colspan=3><select name="state"></select></td>
	  </tr>
	  <tr>
		<td>Date</td>
		<td colspan=3><input name="date" type="date"/></td>
	  </tr>
	  <tr>
		<td>Attribute</td>
		<td>State value</td>
		<td>Update (delta)</td>
	  </tr>
	  <tr name="Total Sessions Conducted">
		<td>Total Sessions Conducted</td>
		<td></td>
		<td><input type="number" name="Total Sessions Conducted"/></td>
	  </tr>
	  <tr name="Total Individuals Registered">
		<td>Total Individuals Registered</td>
		<td></td>
		<td><input type="number" name="Total Individuals Registered"/></td>
	  </tr>
	  <tr name="Total Males Vaccinated">
		<td>Total Males Vaccinated</td>
		<td></td>
		<td><input type="number" name="Total Males Vaccinated"/></td>
	  </tr>
	  <tr name="Total Females Vaccinated">
		<td>Total Females Vaccinated</td>
		<td></td>
		<td><input type="number" name="Total Females Vaccinated"/></td>
	  </tr>
	  <tr name="Total Transgender Vaccinated">
		<td>Total Transgender Vaccinated</td>
		<td></td>
		<td><input type="number" name="Total Transgender Vaccinated"/></td>
	  </tr>
	  <tr name="Total First Dose">
		<td>Total First Dose</td>
		<td></td>
		<td><input type="number" name="Total First Dose"/></td>
	  </tr>
	  <tr name="Total Second Dose">
		<td>Total Second Dose</td>
		<td></td>
		<td><input type="number" name="Total Second Dose"/></td>
	  </tr>
	  <tr name="Total Doses">
		<td>Total Doses</td>
		<td></td>
		<td><input type="number" name="Total Doses"/></td>
	  </tr>
	  <tr name="Total Covaxin">
		<td>Total Covaxin</td>
		<td></td>
		<td><input type="number" name="Total Covaxin"/></td>
	  </tr>
	  <tr name="Total Covishield">
		<td>Total Covishield</td>
		<td></td>
		<td><input type="number" name="Total Covishield"/></td>
	  </tr>
	  <tr name="Total Sites">
		<td>Total Sites</td>
		<td></td>
		<td><input type="number" name="Total Sites"/></td>
	  </tr>
	  <tr>
		<td colspan="4">
		  <button>Update</button>
		</td>
	  </tr>
	</table>

	<h3>Refresh database now</h3>
	<table id="sync-views" class="mini-table">
	  <tr>
        <td><button>Sync Now</button></td>
	  </tr>
	</table>

  </div>

  <div id="management-tab">
	<h3>Add new district</h3>
	<table id="add-district" class="mini-table">
	  <tr>
		<td>State name </td>
		<td><select name="state"></select></td>
	  </tr>
	  <tr>
		<td>District name</td>
		<td><input name="district" type="text"/></td>
	  </tr>
	  <tr>
		<td>Population</td>
		<td><input name="population" type="number"/></td>
	  </tr>
	  <tr>
		<td colspan=2><button>Add</button></td>
	  </tr>
	</table>

	<h3>Update district name</h3>
	<table id="update-district" class="mini-table">
	  <tr>
		<td>State name </td>
		<td><select name="state"></select></td>
	  </tr>
	  <tr>
		<td>Old District name</td>
		<td><select name="olddistrict"></select></td>
	  </tr>
	  <tr>
		<td>New district name</td>
		<td><input name="newdistrict" type="text"/></td>
	  </tr>
	  <tr>
		<td colspan=2><button>Update</button></td>
	  </tr>
	</table>

	<h3>Remove district data</h3>
	<table id="delete-district" class="mini-table">
	  <tr>
		<td>State name</td>
		<td><select name="state"></select></td>
	  </tr>
	  <tr>
		<td>District name</td>
		<td><select name="district"></select></td>
	  </tr>
	  <tr>
		<td colspan=2><button>Delete</button></td>
	  </tr>
	</table>
  </div>
</body>
</html>
